.Register {
  width: 1900px;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  .Register-center {
    width: 25%;
    height: 55%;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 15px;
    .Register-images-top {
      height: 100px;
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .Register-body {
      padding-right: 10px;
      h1 {
        font-size: 1.7rem;
        font-family: var(--font-family-BNAZNIN);
        color: #0c0c0c;
      }
      p {
        font-size: 1.2rem;
        color: #3f4064;
      }
      /* .Register-password {
        width: 10%;
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        padding-right: 10px;
        align-items: center;
        .Register-password input[type="text"] {
          & input {
            width: 200px !important;
            height: 100px;
          }
        }
      } */
    }
  }
}
