.Auction {
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  .option {
    width: 70%;
    height: inherit;
    border-radius: 20px;

    .tasavir {
      display: flex;
      width: 320px !important;
      height: 240px !important;
      column-gap: 18px;
      border-radius: 20%;
    }
  }
}
